<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width = device-width"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<title>Photo and Geo</title>

</head>
<body>
    <h1>Position search</h1>
    <div id="main">        
        <input type="button" value="Go!" onclick="find_position()"/>
    </div>
    <div id="results"></div>

    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>

<script type="text/javascript">
    



    function find_position(){
        var gps = navigator.geolocation;
        var position = undefined;
        if (gps){
            gps.getCurrentPosition(work_with_position, 
                                   function(error){alert("Got an error, code: " + error.code + " message: "+ error.message);});
        } else {
            work_with_position();
        }
    }

    function work_with_position(position){
        result = document.getElementById("results")

        if (position){
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            result.textContent = "lat = " + lat + "; " + "long = " + long + ";"            
        } else {
            result.textContent =  " Error Error Error"
        }
    }



    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }

    /* Legacy code below: getUserMedia 
    else if(navigator.getUserMedia) { // Standard
        navigator.getUserMedia({ video: true }, function(stream) {
            video.src = stream;
            video.play();
        }, errBack);
    } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
        navigator.webkitGetUserMedia({ video: true }, function(stream){
            video.src = window.webkitURL.createObjectURL(stream);
            video.play();
        }, errBack);
    } else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
        navigator.mozGetUserMedia({ video: true }, function(stream){
            video.src = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
    }
*/
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
    });

</script>
    
</body>
</html>