<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width = device-width"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<title>Photo and Geo</title>
<script type="text/javascript">
    



    function find_position(){
        var gps = navigator.geolocation;
        var position = undefined;
        if (gps){
            gps.getCurrentPosition(work_with_position, 
                                   function(error){alert("Got an error, code: " + error.code + " message: "+ error.message);});
        } else {
            work_with_position();
        }
    }

    function work_with_position(position){
        result = document.getElementById("results")

        if (position){
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            result.textContent = "lat = " + lat + "; " + "long = " + long + ";"            
        } else {
            result.textContent =  " Error Error Error"
        }
    }


    function searchTwitter(position){
        var query = "http://search.twitter.com/search.json?callback=showResults&q=";
        query += $("kwBox").value;
        if (position){
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            alert(lat + "," + long + ",50mi")
            result = document.getElementById("results")
            result.textContent = lat + "," + long + ",50mi"
            query += "&geocode=" + escape(lat + "," + long + ",50mi");
        }
        var script = document.createElement("script");
        script.src = query;
        document.getElementsByTagName("head")[0].appendChild(script);
    }

    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }

// Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
    });


</script>
</head>
<body>
    <h1>Position search</h1>
    <div id="main">        
        <input type="button" value="Go!" onclick="find_position()"/>
    </div>
    <div id="results"></div>
    
    <div>
        <video id="video" width="640" height="480" autoplay="" src="blob:https://davidwalsh.name/3fd56005-0e27-4426-b292-08cff68644ed"></video>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
</body>
</html>